{% extends 'base.html' %}
{% block content %}
<br>
    <h1 class="text-center">Upcoming Contests!</h1>
    <br>
    <div class="container">

      <table class="table">
        <tr class="bg-info">
          <th>ContestId</th>
          <th>Name</th>
          <th>Writers</th>
          <th>Starting</th>
          <th>length</th>
        </tr>
        {% for object in object_list %}
        <tr class="bg-light">
          <td>{{object.contestId}}</td>
          <td>{{object.name}}</td>
          <td>{{object.writers}}</td>
          <td>{{object.starting}} IST</td>
          <td>{{object.length}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>


{% endblock %}
