{% extends 'base.html' %}
{% block content %}
<a href="{% url 'CF_Schedule' %}">Codeforces Schedule</a>
<br>
<a href="{% url 'CC_Schedule' %}">CodeChef Schedule</a>
<br>
<a href="{% url 'CF_Schedule2' %}">Codeforces Schedule using requests_html  </a>
<br>
<a href="{% url 'atcoder_schedule' %}">Atcoder Schedule</a>
<br><br>
<div class="container">

  <table class="table">
    <thead class="bg-info">
      <tr>
        <th>Contest ID</th>
        <th>Starting at</th>
        <th>Duration</th>
        <th>Contest Name</th>
        <th>Contest Link</th>
      </tr>
    </thead>
    <tbody class="bg-light" id="contests-data">
      {% include "contests/partial_contests.html" %}
    </tbody>
  </table>

</div>

<script>

$(document).ready(function() {
    // alert("updating database");
     $.ajax({
       url: '/contests/ajax_update',
       type: 'GET',
       dataType: 'json',
       success: function(data)
       {
         if(data.success)
         {
           $('#contests-data').html(data.html_contests_data);
           // console.log("data updated successfully!");
           // alert("database updated successfully!");
         }
         else {
           console.log("error");
         }
       }
     });
});

</script>
{% endblock %}
