{% extends 'base.html' %}
{% block content %}
<br>

<div class="container">

<!-- Filter options -->
<div class="row p-3">
<div class="col-3 form-check">
    <input type="checkbox" class="form-check-input" id="codeforces_filter" checked>
    <label class="form-check-label" for="codeforces_filter">Codeforces</label>
</div>
<div class="col-3 form-check">
    <input type="checkbox" class="form-check-input" id="codechef_filter" checked>
    <label class="form-check-label" for="codechef_filter">Codechef</label>
</div>
<div class=" col-3 form-check">
    <input type="checkbox" class="form-check-input" id="atcoder_filter" checked>
    <label class="form-check-label" for="atcoder_filter">Atcoder</label>
</div>
<div class="col-3 form-check">
    <input type="checkbox" class="form-check-input" id="leetcode_filter" checked>
    <label class="form-check-label" for="leetcode_filter">Leetcode</label>
</div>

</div>

  <table class="table">
    <thead class="bg-info">
      <tr>
        <th>Contest ID</th>
        <th>Starting at</th>
        <th>Duration</th>
        <th>Contest Name</th>
        <th>Contest Link</th>
        <th>Platform</th>
      </tr>
    </thead>

    <tbody class="bg-light" id="contests-data">
      {% include "contests/partial_contests.html" %}
    </tbody>
  </table>

</div>

<script>

$(document).ready(function() {
    // alert("updating database");
     $.ajax({
       url: '/contests/ajax_update',
       type: 'GET',
       dataType: 'json',
       success: function(data)
       {
         if(data.success)
         {
           // $('#contests-data').html(data.html_contests_data);
           // console.log("data updated successfully!");
           // alert("database updated successfully!");
           ajax_filter();
         }
         else {
           console.log("error");
         }
       }
     });

     var ajax_filter = function()
     {
       var cf = document.getElementById("codeforces_filter").checked;
       var cc = document.getElementById("codechef_filter").checked;
       var ac = document.getElementById("atcoder_filter").checked;
       var lc = document.getElementById("leetcode_filter").checked;
       $.ajax(
       {
         url:'/contests/ajax/data_filter',
         type: 'GET',
         data:{'cf':cf,'cc':cc,'ac':ac,'lc':lc},
         dataType:'json',
         success: function(data)
         {
           if(data.success)
           {
             $('#contests-data').html(data.html_contests_data);
             // console.log("data updated successfully!");
             // alert("database updated successfully!");
           }
           else {
             console.log("error");
           }
         }

       }
     );
     }

     $('#codeforces_filter').on('change',ajax_filter);
     $('#codechef_filter').on('change',ajax_filter);
     $('#atcoder_filter').on('change',ajax_filter);
     $('#leetcode_filter').on('change',ajax_filter);


});

</script>
{% endblock %}
