{% extends 'base.html' %}
{% block content %}
  <br>
  <br>


  <div class="jumbotron">

  <form  method="post" action="{% url 'charts:get_profile' %}" >
    {% csrf_token %}
    <label for="handle">Codeforces Handle</label>
    <input type="text" name="handle" value="">

    <input type="submit" name="" value="SUBMIT">
  </form>

</div>
<div class="jumbotron">
  {% if success %}
    {{user1.attempted}}

    {% for x in user1.tag %}

      {{x.name}}
      {{x.count}}
    {% endfor %}

  {% else %}

  {% endif %}

</div>

{% endblock %}
