{% extends 'base.html' %}
{% block content %}
<div class="container" id ="profile_head">
  <header>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12 col-sm-12">

          <img src="{{user_profile.profile.profile_picture.url}}" class="img-responsive img-circle tm-border" alt="">



  				<h1 class="tm-title bold shadow">UserName:{{user_profile.username}}</h1>

  			</div>
  		</div>
  	</div>
  </header>
  </div>
  <br>
  {% if not visitor%}
  <a href="{% url 'update_profile' %}">Update Profile</a>
  <p>Name :{{user_profile.first_name}} {{user.last_name}}</p>
  <p>Location:{{user_profile.profile.location}}</p>
  <p>Work:{{user_profile.profile.work}}</p>
  <p>Education:{{user_profile.profile.education}}</p>
  <p>Skills:{{user_profile.profile.skills}}</p>
  <div class="">

    <p>Friends:</p>
    <ol>
      {% for friend in friend_list%}
       <li>{{friend.username}}</li>
       {%endfor%}
    </ol>

  </div>
  <div class="">
    <p>Friend Requests ({{friend_requests_count}})</p>
    <ol>
      {% for friend in friend_requests %}
      <li>{{friend.username}}</li>
      {%endfor%}
    </ol>
  </div>

  {%else%}

  <p>Name :{{user_profile.first_name}} {{user.last_name}}</p>
  <p>Location:{{user_profile.profile.location}}</p>
  <p>Work:{{user_profile.profile.work}}</p>
  <p>Education:{{user_profile.profile.education}}</p>
  <p>Skills:{{user_profile.profile.skills}}</p>

  {%endif%}

<style >
  img{
    max-height: 200px;
    max-width: 100%;
  }
  #profile_head{
    text-align: center;
  }

</style>

{% endblock %}
