{% extends 'base.html' %}
{% block content %}
  <br>
  <br>


<div class="container">
    <h1>Fill out the Following form to get the Codeforces solution</h1>
    <div class="">
      <form  method="post" action="{% url 'solutions:cf_submissions' %}" >
        {% csrf_token %}
        <div class="">
          <div class="md-form">

            <input type="text" name="contestno" value="" class="form-control" placeholder="Contest Code">
          </div>
          <div class="md-form">

            <input type="text" name="username" value="" class="form-control" placeholder="User Account">
          </div>
          <div class="md-form">

            <input type="text" name="problem" value="" class="form-control" placeholder="Problem Code">
          </div>
          <div class="float-right">
            <input type="submit" name="" value="submissions" class="btn btn-primary">
          </div>

        </div>

      </form>
    </div>


  <table class='table'>
    {% if success %}
    <tr class='bg-info'>
      <th>ID</th>
      <th>Problem Name</th>
      <th>Problem Rating</th>
      <th>Tags</th>
      <th>Verdict</th>
      <th>Language Used</th>
      <th>Solution</th>
    </tr>
    {% for sub in my_list %}
    <tr class = 'bg-light'>
      <td>{{sub.id}}</td>
      <td>{{sub.prob_name}}</td>
      <td>{{sub.prob_rating}}</td>
      <td>{% for tag in sub.prob_tags %}
        {{tag}},
      {% endfor %}</td>
      <td>{{sub.verdict}}</td>
      <td>{{sub.lang}}</td>
      <td> <a href="{{sub.code_link}}" target="_blank">View</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>You have not submitted or there is an error!</p>

    {% endif %}
  </table>



{% endblock %}

</div>
