{% extends 'base.html' %}
{% block content %}
<div class="text-center">
  <br>
  <br>
  <h1>Welcome to CP Crawler!</h1>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://codeforces.com/"><img src="static/codeforces_logo.png" height = '250' width = '350'alt=""></a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-6">
        <a href="https://www.codechef.com/">  <img src="static/cc-logo.png" height = '250' width = '350' alt=""></a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <br>
      <br>
      <br>
      <div class="col-md-6">
        <a href="https://leetcode.com/">  <img src="static/036323c6afd10392aa5b7e3a2eb7557d17955c81.png" height = '250' width = '350'alt=""></a>

        <br>
        <br>
        <br>
        <br>

      </div>
      <div class="col-md-6">
        <a href="https://atcoder.jp/"><img src="static/atcoder.png" height = '250' width = '350'alt=""></a>

      </div>
    </div>

  </div>


</div>
{% endblock %}
